*{box-sizing: border-box;}
.title{
  background-color: purple;
  color:pink;
  text-align: center;
}
.link{
  background-color:darkgray;
  color:purple;
  text-decoration: none;
  padding:10px 20px;
}
.link:hover{
  background-color: purple;
  color:darkgray;
  box-shadow: 0px 0px 3px 1px purple;
}
.modalWindow{
  background-color: rgba(150,150,150,0.5);
  position:fixed;
  top:0px;
  opacity:0;
  pointer-events:none;
  bottom:0px;
  left:0px;
  right:0px;
}
.modalWindow:target{
  opacity:1;
  transition: ease-in 1s;
  pointer-events: auto;
}
.content{
  width:550px;
  height:450px;
  background-color: white;
  margin:auto;
  position:relative;
  margin-top: 100px;
}
.close{
  background-color: lightgray;
  padding:10px;
  position:absolute;
  top:0px;
  right:0px;
  text-decoration: none;
  color: purple;
  font-weight: 600;
}
.close:hover{
  background-color: darkgray;
  color:white;
}
.info{
  width:100%;
  height:80%;
  margin-top:10%;
  position:absolute;
}
.info img{
  width:40%;
  margin:5%;
}
.p{
  position: absolute;
  width:60%;
  top:0px;
  right:0px;
}
.p i{
  font-size:0.8em;
}
.p span{
  text-decoration: line-through;
}
.p b{
  color:red;
  font-size: 1.2em;
}
.p hr{
  margin-top: 15px;
}
.add{
  display:block;
  margin-top:50px;
  width:50%;
  background-color: darkgray;
  text-align: center;
  padding:10px 0px;
  color:lightgray;
  text-decoration: none;
  margin-left:auto;
  margin-right:auto;
  background-color: rgb(50,50,50);
  font-weight: bold;
}

.add:hover{
  background-color: lightgray;
  color:rgb(50,50,50);
}
