<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="{{url_for('thankyou')}}" method="post">
      <fieldset>
        <legend>CHECKOUT</legend>
        <div><b>Items in your bag</b></div>
        <div><span id="name"></span>...... $<span id="price"></span></div>
        <hr>
        <div></div>
        <label for="n">Enter username:<input type="text" name="username" placeholder="Type your full name..." id="n"> Enter email address:<input type="email" name="emailAddress" placeholder="Type your email..." id="e"> <input type="submit" value="SUBMIT ORDER"></label>
      </fieldset>
    </form>

    <script type="text/javascript">

    window.onload = function(){
      let disName = document.querySelector('#name');
      let price = document.querySelector('#price');

      var pricestored = sessionStorage.getItem('price');
      var itemstored = sessionStorage.getItem('item');
      console.log(pricestored);
      console.log(itemstored);
      disName.innerHTML = itemstored;
      price.innerHTML = pricestored;
    }
    </script>
  </body>
</html>
